@inherits VisualizarPDFBase

<MudDialog DisableSidePadding="false">
    <DialogContent>
        <div style="@style">
            <embed id="embed-pdf" style="@style" />
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton Color=Color.Default OnClick=Fechar>Fechar</MudButton>
    </DialogActions>
</MudDialog>
